* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

body {
  background-color: #e7e7e7;
  color           : RGB(51, 51, 51);
}

button {
  background-color: #3483fa;
  font-family     : sans-serif;
  color           : #fff;
  border          : #fff;
  border-radius   : 5px;
  font-size       : 18px;
  padding         : 3px;
}

input {
  border    : 0 rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.8);
}

.container {
  display        : flex;
  justify-content: space-around;
  width          : 100%;
  flex-wrap      : wrap;
}

.items {
  display        : flex;
  flex-basis     : 70%;
  flex-wrap      : wrap;
  justify-content: center;
}

.item {
  box-sizing                : border-box;
  display                   : flex;
  flex-direction            : column;
  height                    : auto;
  margin                    : 1px;
  width                     : 200px;
  background-color          : white;
  border-bottom-left-radius : 15px;
  border-bottom-right-radius: 15px;
}

.item:hover {
  box-shadow: 0 2px 3px 1px rgb(0 0 0 / 0.8);
}

.item .itemSku {
  display: none;
}

.hiddenPrice {
  display: none;
}

.item .itemTitle {
  flex-grow : 1;
  padding   : 10px;
  text-align: center;
}

.item .itemImage {
  width: 100%;
}

.totalValue {
  color      : blue;
  font-weight: 800;
}

.item .itemAdd {
  background-color          : #3483fa;
  border                    : 0;
  cursor                    : pointer;
  margin                    : 0;
  padding                   : 10px 5px;
  border-bottom-left-radius : 13px;
  border-bottom-right-radius: 13px;
  color                     : white;
  font-size                 : 15px;
}

.cart {
  display    : flex;
  flex-basis : 25%;
  flex-flow  : column wrap;
  margin-left: 5%;
}

.cart .cartTitle {
  flex-basis: 1;
  font-size : 16pt;
  text-align: center;
}

.searchDiv {
  display      : flex;
  margin-bottom: 3vh;
  position     : relative;
  z-index      : -1;
}

.inputValue {
  width        : 100%;
  height       : 25px;
  border-radius: 5px;
}

.searchbtn {
  width   : 20%;
  position: absolute;
  right   : 0;
  height  : 25px;
}

.price {
  text-align     : center;
  margin-bottom  : 2vh;
  color          : blue;
  font-size      : 17px;
  text-decoration: underline;
  font-weight    : 600;
}

header {
  width           : 100%;
  position        : fixed;
  display         : flex;
  justify-content : space-between;
  background-color: #fff159;
  align-items     : center;
  padding-top     : 5px;
  padding-bottom  : 5px;
}

main {
  padding-top: 20vh;
}

.title {
  text-align : center;
  margin-left: 25px;
}

.icon {
  width       : 40px;
  height      : 40px;
  margin-right: 25px;
}

@media screen and (max-width: 800px) {
  .cart {
    flex-basis: 70%;
  }
}

li {
  margin-top   : 15px;
  margin-bottom: 5px;
}

.values {
  display      : flex;
  margin-top   : 15px;
  margin-bottom: 15px;
}

.salesPrice {
  display: none;
}

.counter {
  position        : absolute;
  top             : 0;
  right           : 15px;
  width           : 20px;
  height          : 20px;
  background-color: red;
  border-radius   : 50%;
  padding-left    : 5px;
  display         : none;
  color           : #fff;
  font-weight     : 800;
}

@media screen and (max-width: 400px) {
  .counter {
    top: 15px;
  }
}

.searchIcon {
  height: 100%;
  width : 100%;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(299deg) brightness(104%) contrast(102%);
}